<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).hide();
  $('.js-comments-count').html("<%= @post.comments.count %> Comments");
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>

$("#notice").html("<%= escape_javascript(render :partial => 'layouts/flash' , :locals => { :flash => flash }).html_safe %>");