<h1><%= @topic.name %></h1>

<div class="row">
  <div class="span8">
    <p class="lead"><%= @topic.description %></p>
    <div class="posts">
    <%= render :partial => 'shared/posts', :locals => {topic: @topic, posts:  @posts } %>
    <%= link_to 'Load More Posts', topic_path(page: @posts.next_page), :class => 'load-more-posts', :remote => true if @posts.next_page %>
    </div>
    <%#= will_paginate @posts %>
  </div>
  <div class="span4">
    <% if can? :create, Post %>
      <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-large btn-block' %>
    <% end %>
    <br>
    <% if can? :update, @topic %>
      <%= link_to "Edit topic", edit_topic_path, class: 'btn btn-primary btn-mini' %>
    <% end %>
    <% if can? :delete, @topic %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-primary btn-mini btn-danger', confirm: "Are you sure you want to delete this topic?" %>
    <% end %>
  </div>
</div>