<% @posts.each do |post| %>
<div class="media">
  <%= render partial: 'votes/voter', locals: { topic: @topic, post: post } %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to (markdown post.title), [@topic, post] %>
      <%= image_tag(post.image.thumb.url) if post.image? %>
      <br>
      <small>
        <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
        submitted <%= time_ago_in_words(post.created_at) %> ago by 
        <%= post.user.name %><br/>
        <%= post.comments.count %> Comments
      </small>
    </h4>
  </div>
</div>
<% end %>